<header>
</header>

<div class="bounding-box col-xs-10 col-xs-offset-1 form">
  <h2>Resend unlock instructions</h2>
  <hr />

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email %>
      <br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend unlock instructions", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="text-center col-xs-10 col-xs-offset-1">
  <br />
  <%= render "devise/shared/links" %>
</div>
