<header>
</header>
<div class="bounding-box col-xs-10 col-xs-offset-1">
	<h1><%= current_lesson.title %></h1>
	<p>
		— <%= current_lesson.subtitle %>
		<% if current_lesson.next_lesson.present? %>
			<%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-default btn-sm pull-right' do %>
			Next lesson&nbsp;
			<span class="glyphicon glyphicon-forward"></span>
			<% end %>
		<% end %>
	</p>
	<div class="col-xs-10 col-xs-offset-1">
		<% if current_lesson.video.present? %>
			<!-- VideoJS embedded capability here -->
			<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered vjs-fluid"
			controls preload="auto" width="auto" height="auto" poster="/assets/Please_Stand_By.jpg" data-setup="{}">
		    <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
		    <!-- <source src="MY_VIDEO.webm" type='video/webm'> -"transcode" for use in both formats -->
		    <p class="vjs-no-js">
		      To view this video please enable JavaScript, and consider upgrading to a web browser that
		      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		  </video>
		<% else %>
			<%= link_to 'Video', current_lesson.video.to_s %>
		<% end %>
		<br />
	</div>

</div>
