<header>
</header>

<div class="bounding-box col-xs-10 col-xs-offset-1">
	<% if @course.image.present? %>
		<%= image_tag @course.image, :class => 'img-responsive' %>
	<% end %>
	<h1><%= @course.title %></h1>
	<hr />
	<div class="col-sm-3 col-xs-12">
		<h3><span class="label label-default">
			<%= number_to_currency @course.cost %>
		</span></h3>
		<br />
		<% if current_user && current_user.enrolled_in?(@course) %>
			<h3 class="label label-info">You're currently enrolled</h3>
		<% else %>
			<% if @course.free? %>
				<%= link_to 'Enroll', course_enrollments_path(@course), :class => 'btn btn-primary', :method => :post %>
			<% else %>
				<%= form_tag course_enrollments_path(@course) do %>
				    <!-- < # if flash[:error].present? %>
				      <div id="error_explanation">
				        <p>< # flash[:error] %></p>
				      </div>
				    < # end %> -->

				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				          data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
				          data-amount="<%= (@course.cost * 100).to_i %>"
				          data-locale="auto"></script>
				<% end %>
			<% end %>
		<% end %>

		<% if current_user && current_user == @course.user %>
			<br /><br />
			<%= link_to "Administrator Only", instructor_course_path(@course), :class => 'btn btn-danger btn-large' %>
		<% end %>
	</div>
	<div class="col-sm-9 col-xs-12">
		<%= @course.description %>
	</div>

	<div class="col-xs-12">
		<% @course.sections.rank(:row_order).each do |section| %>
			<div class="section">
				<h3><%= section.title %></h3>
				<% section.lessons.rank(:row_order).each do |lesson| %>
					<div class=" col-xs-12 col-sm-6">
						<div class="lesson text-center">
							<%= link_to lesson_path(lesson) do %>
								<b><%= lesson.title %></b>
								<br />
								– <%= lesson.subtitle %>
							<% end %>
						</div>
					</div>
				<% end %>
				<br class="clr" />
			</div>
		<% end %>
	</div>

</div>
